.App {
}

.card {
	margin: 1em auto;
}

.section {
	padding-top: 3.5em !important;
}

.pool-header {
	display: flex;
	justify-content: space-between;
}

.close-button {
	font-size: 2rem;
	color: grey;
}